/**
 * Site header
 */
.site-header {
    //border-top: 5px solid $grey-color-dark;
    //border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: fixed;
}

.site-title {
    font-family: $number-font-family;
    font-size: 40px;
    font-weight: 300;
    line-height: 56px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $header-color;
    }

    @include media-query($on-palm) {
        font-size: 30px;
        line-height: 56px;
    }

}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    //border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    margin-top: 56px;
    padding: 5px 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.containerHeader {
    height: 31px;
    width: 765px;
    overflow-y: hidden;
    overflow-x: hidden;   
}

.container {
    height: 345px;
    width: 765px;
    overflow-y: scroll;
    overflow-x: hidden;   
}

.spacer {
    height: 5px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;   
}

.filledSpacer {
    height: 3px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;   
}

.slideFilter {
    width: 100%;
    height: 25px;
}

.summaryDetailData {
    height: 60px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;

    @include media-query($on-palm) {
        height: 40px;
    }
}

.summaryDetail {
    height: 15px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    border-bottom-left-radius: 5px;   
    border-bottom-right-radius: 5px;
}

#map {
    height: 345px;
    width: 70%;
    float: left;
    border-top-left-radius: 5px;
}

#results {
    height:345px;
    width:30%;
    float: left;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;   
    border-top-right-radius: 5px;
}

.w3-btn-floating-left{
    bottom: 77px;
    left: 0px;
    position: absolute;
    z-index: 999;
    height: 24px;
    width: 24px;
    @include media-query($on-palm) {
        bottom: 60px;
    }
}

.w3-btn-floating-right{
    bottom: 77px;
    right: 0px;
    position: absolute;
    z-index: 999;
    height: 24px;
    width: 24px;
    @include media-query($on-palm) {
        bottom: 60px;
    }
    
}

.photoDisplay {
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    @include media-query($on-palm) {
        height: 40%;
    }
}

img.imgSlider {
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
} 

input#filter-input{
    width: 40%;
}

#sDD-left {
    height:100%;
    width:33.3%;
    float: left;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-bottom: 0px;   
}

#sDD-middle {
    height:100%;
    width:33.3%;
    float: left;
    overflow-y: hidden;
    overflow-x: hidden;   
    margin-bottom: 0px;   
}

#sDD-right {
    height:100%;
    width:33.3%;
    float: left;
    overflow-y: hidden;
    overflow-x: hidden;   
    margin-bottom: 0px;   
}
